*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgba(0,0,0,.7);
    color: #fff;
    padding: 0 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.nav{
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    padding: 20px;
}

@media (min-width:680px){
    .nav{
        position: relative;
        padding: 0;
        background-color: transparent;
        top: 0;
        width: auto;
        

    }
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

   
    
}


@media (min-width:680px){
    .nav ul{
        flex-direction: row;

    }
}
.nav a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}

.btn-line{
    width: 27px;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;



}

.btn-line::before,
.btn-line::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.btn-line::before{
    top: -7px;
}
.btn-line::after{
    top: 7px;
}




.heading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.rwd{
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.rwd li{
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    
}

.heading-1{
    color: red;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;

}

.heading-co{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: brown;
    border-bottom: 1px solid #000;

}

@media(max-width: 1337px){
   .heading-1{
    color: green;
   } 
}
@media(max-width: 1200px){
    .heading-1{
     color: yellow;
    } 
 }
 @media(max-width: 960px){
    .heading-1{
     color: orangered;
    } 
 }
 @media(max-width: 480px){
    .heading-1{
     color: black;
    } 
 }


.heading-2{
    color: red;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media (min-width: 480px){
   
   .heading-2{
    color: royalblue;
   } 
}
@media (min-width: 960px){
   
    .heading-2{
     color: brown;
    } 
 }
 @media (min-width: 1200px){
   
    .heading-2{
     color: pink;
    } 
 }
 @media (min-width: 1337px){
   
    .heading-2{
     color: violet;
    } 
 }



 .heading-3{
    font-size: 20px;
   
    font-weight: 700;
 }

 @media (min-width: 480px){
    .heading-3{
        color: orange;
    }
 }

 @media (min-width: 1200px){
    .heading-3{
        color: brown;
        font-size: 30px;
    }
 }

 @media (min-width: 960px){
    .heading-3{
        color: royalblue;
        font-size: 40px;
    }
 }

 h3{
    border-top: 1px solid #000;
    text-align: center;
    margin-top: 50px;
 }